<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabs</title>

    <!-- styles -->
    <link rel="stylesheet" href="css/tabs.css" />
  </head>
  <body>
  
  <section class="section">
  	<div class="title">
  		<h2>about</h2>
  		<p>how are you doing my old friend strong and bad</p>
  	</div>
  	<div class="about-center section-center">
  		<article class="about-img">
  			<img alt="about picture" src="images/hero-bcg.jpeg">
  		</article>
  		<article class="about">
  		<!-- btn container  -->
  			<div class="btn-container">
  				<button class="tab-btn active" data-id="history">history</button>
  				<button class="tab-btn" data-id="vision">vision</button>
  				<button class="tab-btn" data-id="goals">goals</button>
  			</div>
  			
  		<article class="about-content">
  		<!-- single item -->
  			<div class="content active" id="history">
  				<h4>history</h4>
  				<!-- history -->
  				<p>history of this item is great and that is our great history</p>
  			</div>
  		<!-- end of single item -->
  		<!-- single item -->
  			<div class="content" id="vision">
  				<h4>vision</h4>
  				<!-- history -->
  				<p>vision of this guy is great and that is our great vision</p>
  				<ul>
  					<li>list item</li>
  					<li>list item</li>
  					<li>list item</li>
				</ul>
  			</div>
  		<!-- end of single item -->
  		<!-- single item -->
  			<div class="content" id="goals">
  				<h4>goals</h4>
  				<!-- history -->
  				<p>goals of this organization is great and that is our great goals</p>
  			</div>
  		<!-- end of single item -->  		
  			</article>
  		</article>
  	</div>
  </section>
    <!-- javascript -->
    <script src="js/tabs.js"></script>
  </body>
</html>
